<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo / Name -->
    <a href="/" class="navbar-brand">
      Victor Dénommée
    </a>

    <ul class="navbar-menu">
      <li class="navbar-item">
        <a routerLink="" fragment="whoami" class="navbar-link">Qui suis-je?</a>
      </li>
      <li class="navbar-item" >
        <a routerLink="" fragment="skills" class="navbar-link">Compétences techniques</a>
      </li>
      <li class="navbar-item">
        <a routerLink="" fragment="experiences" class="navbar-link">Expériences professionnelles</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" routerLink="/pokedex">Pokedex</a>
      </li>
    </ul>
  </div>
</nav>
